{% extends "base.twig" %}

{% block title %}
<h2 class="header text-left col-xs-12">
    {{ 'Page not found'|translate }}
    <hr />
</h2>
{% endblock %}

{% block content %}
    {{ "Sorry, we couldn't find what you're looking for."|translate }}
{% endblock %}
