<div class="form-group comment-form-comment form-control-wrapper label-floating empty">
    <label for="comment" class="control-label">{{ 'Comment'|translate('noun') }}</label>
    <textarea class="form-control" id="comment" name="comment" cols="45" autocomplete="off" rows="5" required aria-required="true"></textarea>
</div>