<div class="form-group comment-form-email form-control-wrapper label-floating {{ (author_url) ? 'empty' : '' }}">
    <label for="url" class="control-label">{{ 'Website'|translate }}</label>
    <input class="form-control" id="url" name="url" type="url" autocomplete="off" value="{{ author_url }}" size="30" />
</div>