    <div class="field">
        <label>{{ 'Website'|translate }}</label>
        <div class="ui left icon input">
            <i class="world icon"></i>
            <input placeholder="{{ 'Website'|translate }}" name="username" type="text" />
        </div>
    </div>
</div>