<footer class="ui inverted vertical footer segment">
    <div class="ui left aligned container">
        <div class="ui equal width   padded grid">
            <div class="ui eight wide column  left aligned">
                Example.org
            </div>

            <div class="ui eight wide column  right aligned">
                © Copyright 2017
            </div>

        </div>
    </div>
</footer>
