{% extends "base.twig" %}

{% block content_inner %}
<main class="ui main container grid">
    <article class="post type unknown   sixteen wide column" data-template="page-plugin.twig">
        {{ content }}
    </article>
</main>
{% endblock %}
