<!-- Fixed top menu -->
<nav class="ui menu top fixed secondary pointing large {{ ( hide_fixed_menu ) ? ' hidden ' : '' }}" role="navigation" data-template="header.twig">
    <div class="ui container">

        <button class="toc item">
            <i class="icon sidebar"></i>
        </button>
        
        <!-- main menu items -->
        {% include "menu-items.twig" with { 'menu' : top_nav_menu } %}
        <!-- /main menu items -->
        
        <div class="right menu">
            {# right part of the top menu goes here #}
            
            <!-- search button -->
            {# % include 'menu-search-button.twig' % #}
            <!-- /search button -->
            <!-- login menu -->
            {# % include 'menu-login.twig' % #}
            <!-- /login menu -->
        </div>
    </div>
</nav>
